<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="倉儲與運輸物流系統">
		<meta name="author" content="冷俊瑩">
		<script src="resource/custom.js"></script>
		<link href="resource/custom.css" rel="stylesheet">
		<title>倉儲與運輸物流系統 - 新增請求</title>
		<header>
			<h1>新增請求</h1>
		</header>
	</head>
	<body onload="time()">
		<p>現在時間：<span id="now"></span></p>
		<div id="Main">
			<table>
				<tr><td>目標倉庫編號</td><td><input type="text" name="target" id="target" onchange="create_request_whouseno()"></td></tr>
				<tr><td>備註</td><td><input type="text" name="memo" id="memo" onchange="check_200(document.getElementById('memo').value)"></td></tr>
			</table>
			<table id="itemContent" style="visibility: hidden;">
				<tr><td>物料編號</td><td>物料名稱</td><td>物料數量</td></tr>
				<tr id="item1" style="visibility: hidden;"><td><input type="text" name="itemno1" id="itemno1" onchange="create_request_itemno()"></td><td><span id="itemnm1"></span></td><td><input type="text" name="itemamt1" id="itemamt1" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item2" style="visibility: hidden;"><td><input type="text" name="itemno2" id="itemno2" onchange="create_request_itemno()"></td><td><span id="itemnm2"></span></td><td><input type="text" name="itemamt2" id="itemamt2" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item3" style="visibility: hidden;"><td><input type="text" name="itemno3" id="itemno3" onchange="create_request_itemno()"></td><td><span id="itemnm3"></span></td><td><input type="text" name="itemamt3" id="itemamt3" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item4" style="visibility: hidden;"><td><input type="text" name="itemno4" id="itemno4" onchange="create_request_itemno()"></td><td><span id="itemnm4"></span></td><td><input type="text" name="itemamt4" id="itemamt4" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item5" style="visibility: hidden;"><td><input type="text" name="itemno5" id="itemno5" onchange="create_request_itemno()"></td><td><span id="itemnm5"></span></td><td><input type="text" name="itemamt5" id="itemamt5" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item6" style="visibility: hidden;"><td><input type="text" name="itemno6" id="itemno6" onchange="create_request_itemno()"></td><td><span id="itemnm6"></span></td><td><input type="text" name="itemamt6" id="itemamt6" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item7" style="visibility: hidden;"><td><input type="text" name="itemno7" id="itemno7" onchange="create_request_itemno()"></td><td><span id="itemnm7"></span></td><td><input type="text" name="itemamt7" id="itemamt7" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item8" style="visibility: hidden;"><td><input type="text" name="itemno8" id="itemno8" onchange="create_request_itemno()"></td><td><span id="itemnm8"></span></td><td><input type="text" name="itemamt8" id="itemamt8" value="0" onchange="create_request_itemamt()"></td></tr>
				<tr id="item9" style="visibility: hidden;"><td><input type="text" name="itemno9" id="itemno9" onchange="create_request_itemno()"></td><td><span id="itemnm9"></span></td><td><input type="text" name="itemamt9" id="itemamt9" value="0" onchange="create_request_itemamt()"></td></tr>
			</table>
			<button id="create_request" style="visibility: hidden;" onclick="create_request()">確定新增</button>
			<button onclick="Refresh()">重新整理</button>
			<button onclick="location.assign('index.php')">返回首頁</button>
		</div>
		<div id="Last">
			<table>
				<tr><td>目標倉庫編號</td><td><span id="Lasttarget"></span></td></tr>
				<tr><td>備註</td><td><span id="Lastmemo"></span></td></tr>
			</table>
			<table>
				<tr><td>物料編號</td><td>物料數量</td></tr>
				<tr><td><span id="Lastitemno1"></span></td><td><span id="Lastitemnm1"></span></td><td><span id="Lastitemamt1"></span></td></tr>
				<tr><td><span id="Lastitemno2"></span></td><td><span id="Lastitemnm2"></span></td><td><span id="Lastitemamt2"></span></td></tr>
				<tr><td><span id="Lastitemno3"></span></td><td><span id="Lastitemnm3"></span></td><td><span id="Lastitemamt3"></span></td></tr>
				<tr><td><span id="Lastitemno4"></span></td><td><span id="Lastitemnm4"></span></td><td><span id="Lastitemamt4"></span></td></tr>
				<tr><td><span id="Lastitemno5"></span></td><td><span id="Lastitemnm5"></span></td><td><span id="Lastitemamt5"></span></td></tr>
				<tr><td><span id="Lastitemno6"></span></td><td><span id="Lastitemnm6"></span></td><td><span id="Lastitemamt6"></span></td></tr>
				<tr><td><span id="Lastitemno7"></span></td><td><span id="Lastitemnm7"></span></td><td><span id="Lastitemamt7"></span></td></tr>
				<tr><td><span id="Lastitemno8"></span></td><td><span id="Lastitemnm8"></span></td><td><span id="Lastitemamt8"></span></td></tr>
				<tr><td><span id="Lastitemno9"></span></td><td><span id="Lastitemnm9"></span></td><td><span id="Lastitemamt9"></span></td></tr>
			</table>
		</div>
	</body>
	<script type="text/javascript">
		function create_request_whouseno() {
			var target = document.getElementById("target").value;

			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=whouse&event=check_exist&whouseno=" + target;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						document.getElementById("target").readOnly = true;
						document.getElementById("itemContent").style.visibility = 'visible';
						document.getElementById("item1").style.visibility = 'visible';
					}
					else {
						alert(data.message);
						document.getElementById("target").readOnly = false;
						document.getElementById("itemContent").style.visibility = 'hidden';
						document.getElementById("item1").style.visibility = 'hidden';
					}
				}
			}
		}

		function create_request_itemno() {
			var target = document.getElementById("target").value;
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=check_itemno&target=" + target;
			for (var i = 1; i < 10; i++) {
				data = data + "&itemno" + i + "=" + document.getElementById("itemno" + i).value;
				data = data + "&itemamt" + i + "=" + document.getElementById("itemamt" + i).value;
			}
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						if (typeof data.itemnm1 != 'undefined') { document.getElementById("itemnm1").innerHTML = data.itemnm1; document.getElementById("item2").style.visibility = 'visible'; } else { document.getElementById("itemnm1").innerHTML = ''; document.getElementById("item2").style.visibility = 'hidden'; }
						if (typeof data.itemnm2 != 'undefined') { document.getElementById("itemnm2").innerHTML = data.itemnm2; document.getElementById("item3").style.visibility = 'visible'; } else { document.getElementById("itemnm2").innerHTML = ''; document.getElementById("item3").style.visibility = 'hidden'; }
						if (typeof data.itemnm3 != 'undefined') { document.getElementById("itemnm3").innerHTML = data.itemnm3; document.getElementById("item4").style.visibility = 'visible'; } else { document.getElementById("itemnm3").innerHTML = ''; document.getElementById("item4").style.visibility = 'hidden'; }
						if (typeof data.itemnm4 != 'undefined') { document.getElementById("itemnm4").innerHTML = data.itemnm4; document.getElementById("item5").style.visibility = 'visible'; } else { document.getElementById("itemnm4").innerHTML = ''; document.getElementById("item5").style.visibility = 'hidden'; }
						if (typeof data.itemnm5 != 'undefined') { document.getElementById("itemnm5").innerHTML = data.itemnm5; document.getElementById("item6").style.visibility = 'visible'; } else { document.getElementById("itemnm5").innerHTML = ''; document.getElementById("item6").style.visibility = 'hidden'; }
						if (typeof data.itemnm6 != 'undefined') { document.getElementById("itemnm6").innerHTML = data.itemnm6; document.getElementById("item7").style.visibility = 'visible'; } else { document.getElementById("itemnm6").innerHTML = ''; document.getElementById("item7").style.visibility = 'hidden'; }
						if (typeof data.itemnm7 != 'undefined') { document.getElementById("itemnm7").innerHTML = data.itemnm7; document.getElementById("item8").style.visibility = 'visible'; } else { document.getElementById("itemnm7").innerHTML = ''; document.getElementById("item8").style.visibility = 'hidden'; }
						if (typeof data.itemnm8 != 'undefined') { document.getElementById("itemnm8").innerHTML = data.itemnm8; document.getElementById("item9").style.visibility = 'visible'; } else { document.getElementById("itemnm8").innerHTML = ''; document.getElementById("item9").style.visibility = 'hidden'; }
						if (typeof data.itemnm9 != 'undefined') { document.getElementById("itemnm9").innerHTML = data.itemnm9; } else { document.getElementById("itemnm9").innerHTML = ''; }
						document.getElementById("create_request").style.visibility = 'visible';
					}
					else {
						alert(data.message);
						document.getElementById("create_request").style.visibility = 'hidden';
					}
				}
			}
		}

		function create_request_itemamt() {
			var target = document.getElementById("target").value;
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=check_itemamt&target=" + target;
			for (var i = 1; i < 10; i++) {
				data = data + "&itemno" + i + "=" + document.getElementById("itemno" + i).value;
				data = data + "&itemamt" + i + "=" + document.getElementById("itemamt" + i).value;
			}
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						document.getElementById("create_request").style.visibility = 'visible';
					}
					else {
						alert(data.message);
						document.getElementById("create_request").style.visibility = 'hidden';
					}
				}
			}
		}

		function create_request() {
			var target = document.getElementById("target").value;
			var memo = document.getElementById("memo").value;
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=create&target=" + target + "&memo=" + memo;
			for (var i = 1; i < 10; i++) {
				data = data + "&itemno" + i + "=" + document.getElementById("itemno" + i).value;
				data = data + "&itemamt" + i + "=" + document.getElementById("itemamt" + i).value;
			}
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						alert('成功新增');
						document.getElementById("Lasttarget").innerHTML = document.getElementById("target").value;
						document.getElementById("Lastmemo").innerHTML = document.getElementById("memo").value;
						for (var i = 1; i < 10; i++) {
							if (document.getElementById("itemno"+i).value != '') {
								document.getElementById("Lastitemno"+i).innerHTML = document.getElementById("itemno"+i).value;
								document.getElementById("Lastitemnm"+i).innerHTML = document.getElementById("itemnm"+i).innerHTML;
								document.getElementById("Lastitemamt"+i).innerHTML = document.getElementById("itemamt"+i).value;
							}
						}
						Refresh()
					}
					else {
						alert(data.message);
					}
				}
			}
		}

		function Refresh() {
			document.getElementById("whouseno").readOnly = false;
			document.getElementById("itemContent").style.visibility = 'hidden';
			document.getElementById("whouseno").value = null;
			document.getElementById("memo").value = null;
			for (var i = 1; i < 10; i++) {
				document.getElementById("itemno" + i).value = null;
				document.getElementById("itemnm" + i).innerHTML = '';
				document.getElementById("itemamt" + i).value = 0;
			}
			document.getElementById("create_request").style.visibility = 'hidden';
		}
	</script>
</html>