<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="倉儲與運輸物流系統">
		<meta name="author" content="冷俊瑩">
		<script src="resource/custom.js"></script>
		<link href="resource/custom.css" rel="stylesheet">
		<title>倉儲與運輸物流系統 - 查詢請求</title>
		<header>
			<h1>查詢請求</h1>
		</header>
	</head>
	<body onload="time()">
		<p>現在時間：<span id="now"></span></p>
		<div>
			<table>
				<tr><td>請求編號</td><td><input type="text" name="requestno" id="requestno"></td></tr>
				<tr><td>請求方</td><td><input type="text" name="requester" id="requester"></td></tr>
				<tr><td>目標方</td><td><input type="text" name="target" id="target"></td></tr>
				<tr><td>相關倉庫</td><td><input type="text" name="whouse" id="whouse"></td></tr>
				<tr><td>相關物料</td><td><input type="text" name="item" id="item"></td></tr>
				<tr><td>建立時間</td><td><input type="time" name="createtimestart" id="createtimestart"></td><td>至</td><td><input type="time" name="createtimeend" id="createtimeend"></td></tr>
				<tr><td>結束時間</td><td><input type="time" name="closetimestart" id="closetimestart"></td><td>至</td><td><input type="time" name="closetimeend" id="closetimeend"></td></tr>
			</table>
			<button id="search_request" onclick="search_request()">查詢</button>
			<button onclick="Refresh()">重新整理</button>
			<button onclick="location.assign('index.php')">返回首頁</button>
		</div>
		<div id="Main">
		</div>
		<div id="Last">
		</div>
	</body>
	<script type="text/javascript">
		function search_request() {
			var requestno = document.getElementById("requestno").value;
			var requester = document.getElementById("requester").value;
			var target = document.getElementById("target").value;
			var whouse = document.getElementById("whouse").value;
			var item = document.getElementById("item").value;
			var createtimestart = document.getElementById("createtimestart").value;
			var createtimeend = document.getElementById("createtimeend").value;
			var closetimestart = document.getElementById("closetimestart").value;
			var closetimeend = document.getElementById("closetimeend").value;

			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=search&requestno=" + requestno + "&requester=" + requester + "&target=" + target + "&whouse=" + whouse + "&item=" + item + "&createtimestart=" + createtimestart + "&createtimeend=" + createtimeend + "&closetimestart=" + closetimestart + "&closetimeend=" + closetimeend;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'Success') {
						document.getElementById('Main').innerHTML = data.content;
					}
					else {
						alert(data.message);
						document.getElementById('Main').innerHTML = '';
					}
				}
			}
		}

		function view(requestno) {
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=view&requestno=" + requestno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'Success') {
						document.getElementById('Last').innerHTML = data.content;
					}
					else {
						alert(data.message);
						document.getElementById('Last').innerHTML = '';
					}
				}
			}
		}

		function Refresh() {
			document.getElementById("requestno").value = null;
			document.getElementById("requester").value = null;
			document.getElementById("target").value = null;
			document.getElementById("whouse").value = null;
			document.getElementById("item").value = null;
			document.getElementById("createtimestart").value = null;
			document.getElementById("createtimeend").value = null;
			document.getElementById("closetimestart").value = null;
			document.getElementById("closetimeend").value = null;
			document.getElementById('Main').innerHTML = '';
			document.getElementById('Last').innerHTML = '';
		}
	</script>
</html>