<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="倉儲與運輸物流系統">
		<meta name="author" content="冷俊瑩">
		<script src="resource/custom.js"></script>
		<link href="resource/custom.css" rel="stylesheet">
		<title>待辦請求</title>
		<header>
			<h1>待辦請求</h1>
		</header>
	</head>
	<body onload="time(); waiting();">
		<p>現在時間：<span id="now"></span></p>
		<div id="Main">
		</div>
		<div id="Last">
		</div>
	</body>
	<script type="text/javascript">
		function waiting() {
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=waiting&requestno=" + requestno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'Success') {
						document.getElementById('Main').innerHTML = data.content;
						document.getElementById('Last').innerHTML = '';
					}
					else {
						alert(data.message);
						document.getElementById('Main').innerHTML = '';
						document.getElementById('Last').innerHTML = '';
					}
				}
			}
		}

		function query(requestno) {
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=query&requestno=" + requestno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'Success') {
						document.getElementById('Last').innerHTML = data.content;
					}
					else {
						alert(data.message);
						document.getElementById('Last').innerHTML = '';
					}
				}
			}
		}

		function accept(requestno) {
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=accept&requestno=" + requestno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						alert("成功接受");
						waiting();
					}
					else {
						alert(data.message);
						
					}
				}
			}
		}

		function reject(requestno) {
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=reject&requestno=" + requestno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						alert("成功拒絕");
						waiting();
					}
					else {
						alert(data.message);
						
					}
				}
			}
		}

		function check(requestno) {
			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=request&event=check&requestno=" + requestno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						alert("成功確認");
						waiting();
					}
					else {
						alert(data.message);
						
					}
				}
			}
		}
	</script>
</html>