<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="倉儲與運輸物流系統">
		<meta name="author" content="冷俊瑩">
		<script src="resource/custom.js"></script>
		<link href="resource/custom.css" rel="stylesheet">
		<title>倉儲與運輸物流系統</title>
		<header>
			<h1>更改密碼</h1>
		</header>
	</head>
	<body onload="time()">
		<p>現在時間：<span id="now"></span></p>
		<div id="Main">
			<h1>更改密碼</h1>
			<table>
				<tr><td>舊密碼</td><td><input type="password" name="password" id="password"></td></tr>
				<tr><td>新密碼</td><td><input type="password" name="password_new" id="password_new"></td></tr>
				<tr><td>再次輸入新密碼</td><td><input type="password" name="password_new2" id="password_new2"></td></tr>
			</table>
			<button onclick="change_password()">確定更改</button>
		</div>
	</body>
	<script type="text/javascript">
		function change_password() {
			
		}
	</script>
</html>