<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="倉儲與運輸物流系統">
		<meta name="author" content="冷俊瑩">
		<script src="resource/custom.js"></script>
		<link href="resource/custom.css" rel="stylesheet">
		<title>倉儲與運輸物流系統 - 修改密碼</title>
		<header>
			<h1>修改密碼</h1>
		</header>
	</head>
	<body onload="time()">
		<p>現在時間：<span id="now"></span></p>
		<div id="Main">
			<table>
				<tr><td>舊密碼</td><td><input type="password" name="password" id="password"></td></tr>
				<tr><td>新密碼</td><td><input type="password" name="password_new" id="password_new"></td></tr>
				<tr><td>再次輸入新密碼</td><td><input type="password" name="password_new2" id="password_new2"></td></tr>
			</table>
			<button onclick="change_password()">確定更改</button>
			<button onclick="location.assign('index.php')">返回首頁</button>
		</div>
	</body>
	<script type="text/javascript">
		function change_password() {
			var password = document.getElementById("password").value;
			var password_new = document.getElementById("password_new").value;
			var password_new2 = document.getElementById("password_new2").value;

			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=user&event=change_password&password=" + password + "&password_new=" + password_new + "&password_new2=" + password_new2;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'Success') {
						alert("修改成功");
						location.assign('index.php');
					}
					else {
						alert(data.message);
					}
				}
			}
		}
	</script>
</html>