<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="倉儲與運輸物流系統">
		<meta name="author" content="冷俊瑩">
		<script src="../resource/custom.js"></script>
		<link href="../resource/custom.css" rel="stylesheet">
		<title>查詢倉庫物料</title>
		<header>
			<h1>查詢倉庫物料</h1>
		</header>
	</head>
	<body onload="time()">
		<p>現在時間：<span id="now"></span></p>
		<div id="Main">
			<table>
				<tr><td>倉庫編號</td><td><input type="text" name="whouseno" id="whouseno" onchange="search_whouseitem_whouseno()"></td></tr>
				<tr><td>物料編號</td><td><input type="text" name="itemno" id="itemno" style="visibility: hidden;" onchange="search_whouseitem_itemno()"></td></tr>
				<tr><td>數量</td><td><span id="whouseitemamt" style="visibility: hidden;"></span></td></tr>
				<tr><td>運送權</td><td><span id="logistic" style="visibility: hidden;"></span></td></tr>
				<tr><td>請求權</td><td><span id="request" style="visibility: hidden;"></span></td></tr>
				<tr><td>備註</td><td><span id="whouseitemmemo" style="visibility: hidden;"></span></td></tr>
			</table>
			<button onclick="Refresh()">重新整理</button>
			<button onclick="location.assign('index.php')">返回首頁</button>
		</div>
		<div id="Last">
			<table>
				<tr><td>倉庫編號</td><td><span id="Lastwhouseno"></span></td></tr>
				<tr><td>物料編號</td><td><span id="Lastitemno"></span></td></tr>
				<tr><td>數量</td><td><span id="Lastwhouseitemamt"></span></td></tr>
				<tr><td>運送權</td><td><span id="Lastlogistic"></span></td></tr>
				<tr><td>請求權</td><td><span id="Lastrequest"></span></td></tr>
				<tr><td>備註</td><td><span id="Lastwhouseitemmemo"></span></td></tr>
			</table>
		</div>
	</body>
	<script type="text/javascript">
		function search_whouseitem_whouseno() {
			var whouseno = document.getElementById("whouseno").value;

			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=whouseitem&event=check_whouse_exist&whouseno=" + whouseno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						document.getElementById("whouseno").readOnly = true;
						document.getElementById("itemno").style.visibility = 'visible';
					}
					else {
						alert(data.message);
						document.getElementById("whouseno").readOnly = false;
						document.getElementById("itemno").style.visibility = 'hidden';
					}
				}
			}
		}

		function search_whouseitem_itemno() {
			var whouseno = document.getElementById("whouseno").value;
			var itemno = document.getElementById("itemno").value;

			var request = new XMLHttpRequest();
			request.open("POST", "index.php");
			var data = "module=whouseitem&event=check_item_exist&whouseno=" + whouseno + "&itemno=" + itemno;
			request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			request.send(data);
			request.onreadystatechange = function() {
				if (request.readyState === 4 && request.status === 200) {
					var data = JSON.parse(request.responseText);
					if (data.message == 'ok') {
						document.getElementById("itemno").readOnly = true;
						document.getElementById("whouseitemamt").innerHTML = data.amt;
						document.getElementById("logistic").innerHTML = data.logistic;
						document.getElementById("request").innerHTML = data.request;
						document.getElementById("whouseitemmemo").innerHTML = data.memo;
						document.getElementById("whouseitemamt").style.visibility = 'visible';
						document.getElementById("logistic").style.visibility = 'visible';
						document.getElementById("request").style.visibility = 'visible';
						document.getElementById("whouseitemmemo").style.visibility = 'visible';
					}
					else {
						alert(data.message);
						document.getElementById("itemno").readOnly = false;
						document.getElementById("whouseitemamt").innerHTML = '';
						document.getElementById("logistic").innerHTML = '0';
						document.getElementById("request").innerHTML = '0';
						document.getElementById("whouseitemmemo").innerHTML = '';
						document.getElementById("whouseitemamt").style.visibility = 'hidden';
						document.getElementById("logistic").style.visibility = 'hidden';
						document.getElementById("request").style.visibility = 'hidden';
						document.getElementById("whouseitemmemo").style.visibility = 'hidden';
					}
				}
			}
		}

		function Refresh() {
			document.getElementById("Last").style.visibility = 'visible';
			document.getElementById("Lastwhouseno").innerHTML = document.getElementById("whouseno").value;
			document.getElementById("Lastitemno").innerHTML = document.getElementById("itemno").value;
			document.getElementById("Lastwhouseitemamt").innerHTML = document.getElementById("whouseitemamt").innerHTML;
			document.getElementById("Lastlogistic").innerHTML = document.getElementById("logistic").innerHTML;
			document.getElementById("Lastrequest").innerHTML = document.getElementById("request").innerHTML;
			document.getElementById("Lastwhouseitemmemo").innerHTML = document.getElementById("whouseitemmemo").innerHTML;
			document.getElementById("whouseno").readOnly = false;
			document.getElementById("itemno").readOnly = false;
			document.getElementById("whouseno").value = null;
			document.getElementById("itemno").value = null;
			document.getElementById("whouseitemamt").innerHTML = '';
			document.getElementById("logistic").innerHTML = '0';
			document.getElementById("request").innerHTML = '0';
			document.getElementById("whouseitemmemo").innerHTML = '';
			document.getElementById("itemno").style.visibility = 'hidden';
			document.getElementById("whouseitemamt").style.visibility = 'hidden';
			document.getElementById("logistic").style.visibility = 'hidden';
			document.getElementById("request").style.visibility = 'hidden';
			document.getElementById("whouseitemmemo").style.visibility = 'hidden';
		}
	</script>
</html>